<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  <h1>Message from <%= name %></h1>
  <p>
    Message: <%= message %>
  </p>
  <p>
    Category: <%= category %>
  </p>
  <p>
    Email: <%= email %>
  </p>
  <p>
    <%= message %>
  </p>
  </body>
</html>
