<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  <h1>Message from <%= @email.name %></h1>
  <p>
    Message: <%= @email.message %>
  </p>
  <p>
    Category: <%= @email.category %>
  </p>
  <p>
    Email: <%= @email.email %>
  </p>
  <p>
    <%= @email.message %>
  </p>
  </body>
</html>
